<div class="time_ago">
  <%= time_ago_in_words(appeal.created_at) %> назад
</div>
<div class="title">
  <% if appeal.topic? %>
    <%= link_to "#{appeal.author}, #{appeal.topic.title}", manage_appeal_path(appeal) %>
  <% else %>
    <%= link_to "#{appeal.author}", manage_appeal_path(appeal) %>
  <% end %>
</div>
<div class="participants">
  <%= truncate(appeal.text, :length => 200) %>
</div>
