<div class="time_ago">
  <p>№<%= appeal.registration.number %> от <%= l appeal.registration.registered_on %></p>
</div>
<div class="title">
  <%= link_to "#{appeal.author}, #{appeal.topic.title}", manage_appeal_path(appeal) %>
</div>
<div class="participants">
  <p><%= truncate(appeal.text, :length => 200) %></p>
</div>

