<p>
  Обращение от <%= l @appeal.created_at %> принято и ожидает регистрации.
</p>

<p>
  По этому адресу <%= public_appeal_path(@appeal.code) %> Вы сможете отслеживать процесс рассмотрения обращения.
  Код обращения <%= @appeal.code %>
</p>
