<p>
  Обращение от <%= l @appeal.created_at %> принято и ожидает регистрации.
</p>

<p>
  По этому адресу <%= link_to public_appeal_url(@appeal.code), public_appeal_url(@appeal.code) %> Вы сможете отслеживать процесс рассмотрения обращения.
  Код обращения <%= @appeal.code %>
</p>
