<h3>Обращение с кодом <%= @appeal.code %> от <%= l @appeal.created_at %></h3>

<ul>
  <li>принято и ожидает регистрации</li>
  <li>по этому адресу <%= link_to appeal_url(@appeal.code), appeal_url(@appeal.code) %> Вы сможете отслеживать процесс рассмотрения обращения </li>
</ul>
