<div class="appeal_status">
  <% if @appeal %>
    <% if @appeal.deleted? %>
      <h3>Обращение с кодом <%= params[:id] %> удалено.</h3>
    <% else %>
      <%= render :partial => @appeal.state %>
    <% end %>
  <% else %>
    <h3>
    <% if params[:id].include?('-') %>
      Обращение c кодом <%= params[:id] %> не найдено.
    <% else %>
      Ваше обращение еще не зарегистрировано.
    <% end %>
  </h3>
  <% end %>
</div>
