<% content_for :header do %>
  <h1><%= link_to t("appeal_system"), root_path %></h1>
<% end %>

<% content_for :sidebar do %>
  <div class="sidebar">
    <div class='nav'>
      <h5>Список обращений</h5>
      <%= render_navigation :context => :appeal, :renderer => :list_with_counters %>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <div class='section'>
    <div class="appeal_search_wrapper">
    </div>
    <div class='article' >
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/layer' %>
