el_vfs:
  host:     http://pool.openteam.ru

sso:
  host:     http://esp-sso.openteam.ru
  key:      APP_KEY
  secret:   APP_SECRET

production:
  hoptoad:
    key:    APP_KEY
    host:   host.domain.com
