@import "compass/utilities"

.formtastic
  fieldset.uploads
    position: relative
  #upload_file_input
    margin: 0
    #upload_file
      position: absolute
      display: block
      bottom: 10px
      right: 552px
      height: 28px
      width: auto
      font-size: 29px
      z-index: 1
      cursor: pointer
      opacity: 0
  #upload_file_link
    +inline-block
