<li class="upload">
  <div>
    <%= show_upload(upload) %>
    <%= link_to t("delete"), public_upload_path(upload),
                :method => :delete,
                :remote => true,
                :title => t("delete"),
                :class => "icon_delete",
                :confirm => t("are_you_sure") %>
  </div>
</li>
